@import '../../styles/variables.scss';

a:link, a:visited, a:active {
    text-decoration:none;
    color: $title-color;
}

header{
    background-color: $bg-menu;
    background: $bg-gradient;
    width: 100%;
    display: flex;
    align-items: center;
}